
/*font size 
h1 - 48px
h2 - 36px
h3 - 28px
all other text - 21px
color scheme, olive, dark green, black*/ 

body { 
    margin: 0; 
    font-size: 21px; 
    background-color: black;
}
h1 {
    font-size: 48px;
}
h2{ 
    font-size: 36px;
}
h3{
    font-size:28px;
}

head{ 
     background-color: black;
     color: whitesmoke
}
header{
    background-color: rgb(49, 70, 8);
    color:white;
    padding: 30px;
    text-align: center;
    font-style:inherit
}
.intro{
    color: white;
    width:1000px;
   padding: 0 0 0 200px; 
   font-size:40px;
   text-align: center;
    
}
.columns{
    background-color: black;
    color:white;
    padding:75px 0;
    text-align: center;
    display: flex;
}
.column{ margin: 0 20px; 
    padding:10px;
border:greenyellow 10px solid;
} 
footer{
    padding: 0 0 50px 0;
    background-color:black;
    text-align: center;
} 
.columnimages{
    display: flex;
}
.column1{ 
    padding: 0 600px 0 0;
    color: aliceblue;
}
/* PAGE TWO --------------*/ 

.HBD{ 
    background-color: rgb(70, 1, 1) ;
    width: 1000px ;
    margin: 100px 100px 100px 200px ; 
    padding: 20px 30px 10px 20px ;
    color: yellow ;
    text-align: center;
}

.date{
    background-color: black;
    color: aliceblue;
    margin: 0px 0 30px 0 ;
}
.previouspage{ 
    background-color: black ;
    color: blue;
}
